<div class="linkslist">
  <p class="asidetitle">简介</p>
<pre>
名字：<a href="<%= config.url %>/about/" target="_blank" title="about me">Ray</a>
昵称：<a href="http://blog.csdn.net/rainloving" target="_blank" title="csdn blog">rainloving</a>|<a href="https://github.com/wutongjie23hao" target="_blank" title="gihub">wutongjie23hao</a>
现状：<a href="http://graduate.cug.edu.cn/" target="_blank" title="地大研究生院">南望山下，东湖之畔，研究...</a>
QQ：2560786448
</pre>
</div>